.class-de-1,
.class-de-2,
.class-de-3 {
  text-align: center;
}

.class-de-4 {
  font-weight: bold;
}

@media only screen and (min-width: 320px) {
  .class-media-de-5,
      .class-media-de-6 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .class-media-de-7,
      .class-media-de-8 {
    font-size: 10px;
  }
}

.class-de-9 {
  font-size: 18px;
}

@media only screen and (max-width: 1024px) {
  .class-media-de-10 {
    height: 222px;
  }

  .class-media-de-11 {
    height: 555px;
  }
}